/*p {
    color: red;
    padding: 10px 10px;
}
*/
.myRow {
    height: 300px;
}

#id_name {
    width: 300px;
}

textarea {
    width: 300px;
    height: 100px;
}

#id_deadline {
    width: 100px;
}

.field_required {
    border-color: red;
}

.table-borderless td, .table-borderless th {
    border: 0;
}