{% extends 'base.html' %}
{% block title %}
    {{ page_title }}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row py-4 justify-content-between">
            <div class="col-md-auto">
                {% if user.is_authenticated %}
                    {% if user.first_name %}
                        <span class="text-muted text-uppercase">Welcome, {{ user.first_name }}</span>
                    {% else %}
                        <span class="text-muted text-uppercase">Welcome, {{ user.username }}</span>
                    {% endif %}
                    &nbsp;&nbsp;<a href="{% url 'logout' %}" class="text-info text-uppercase">LOG OUT</a>
                {% else %}
                    <span class="text-muted text-uppercase">Not logged in</span>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-auto">
                <div class="table-responsive">
                    <form action="" method="post" id="c_form">
                        {% csrf_token %}
                        <table>
                            {{ create_form.as_table }}
                            <tr>
                                <td></td>
                                <td>
                                    <button id="submit_c"
                                            class="btn btn-sm btn-secondary btn-outline-secondary py-1 my-2">Add task
                                    </button>
                                    <button id="cancel_c"
                                            class="btn btn-sm btn-secondary btn-outline-secondary mx-2 py-1 my-2">Cancel
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="table-responsive">
                    <form action="" method="post" id="u_form">
                        {% csrf_token %}
                        <table>
                            {{ update_form.as_table }}
                            <tr>
                                <td></td>
                                <td>
                                    <button id="submit_u"
                                            class="btn btn-sm btn-secondary btn-outline-secondary py-1 my-2"
                                            disabled="disabled">
                                        Update task
                                    </button>
                                    <button id="cancel_u"
                                            class="btn btn-sm btn-secondary btn-outline-secondary mx-2 py-1 my-2"
                                            hidden>
                                        Cancel
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <div class="table-responsive-md">
                    <table id="tasks-table" class="table table-bordered table-striped text-center">
                        <thead class="text-uppercase bg-dark text-white">
                        <tr>
                            <th class="w-25">Name</th>
                            <th>Category</th>
                            <th>Deadline</th>
                            <th>Priority</th>
                            <th>Done</th>
                            <th>Created</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="hidden" id="task_id" data-id="-1">
        </div>
{% endblock content %}