{% extends 'base.html' %}
{% block title %}
    {{ page_title }}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row myRow bg-warning justify-content-around my-4">
            <div class="col-md-3 bg-info align-self-center">
                <h2>R1 C1</h2>
                <p>{{ msg }} {{ msg }} {{ msg }} {{ msg }}</p>
            </div>
            <div class="col-md-3 bg-info align-self-center">
                <h2>R1 C2</h2>
                <p>{{ msg }} {{ msg }} {{ msg }} {{ msg }}</p>
            </div>
            <div class="col-md-3 bg-info align-self-center">
                <h2>R1 C3</h2>
                <p>{{ msg }} {{ msg }} {{ msg }} {{ msg }}</p>
            </div>
        </div>
    </div>
{% endblock content %}